// BRAND COLORS
$color-primary: #ff5100;
$color-secondary: #ff0032;
$color-tertiary: #d30000;

// TEXT COLORS
$color-grey-light: #5d5d5d;
$color-grey-dark: #222222;

// GENERAL COLORS
$color-white: #fdfeff;
$color-black: #000;

// SHADOW
$shadow-light: 0 2rem 4rem rgba(0, 0, 0, 0.1);
$shadow-medium: 0 2rem 4rem rgba(0, 0, 0, 0.5);
$shadow-dark: 0 2rem 4rem rgba(0, 0, 0, 0.9);
