@use "../scss/abstracts/" as *;
@use "../scss/base/" as *;

.courseDuration {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  width: 140rem;
  gap: 3rem;
  margin: 40px auto;
  box-sizing: border-box;

  @include responsive(desktopLarge) {
    max-width: 140rem;
  }

  @include responsive(tabletLandscape) {
    grid-template-columns: auto;
    width: 80rem;
    gap: 0;
  }

  @include responsive(tabletPortrait) {
    max-width: 100%;
  }

  &__card {
    width: 59.7rem;
    height: 40rem;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);

    border-radius: 20px;

    @include responsive(desktopLarge) {
      transform: scale(0.95);
    }

    @include responsive(tabletLandscape) {
      transform: scale(0.8);
      width: 60rem;
      height: 40rem;
    }

    &--1 {
      background: url("../../assets/animations/course-detail-1.svg"),
        rgba(15, 14, 71, 0.3);
      background-repeat: no-repeat;
      background-position: center;
      @include responsive(tabletLandscape) {
        background-size: 95%;
      }
    }

    &--2 {
      background: url("../../assets/animations/course-detail-2.svg"),
        rgba(15, 14, 71, 0.3);
      background-repeat: no-repeat;
      background-position: center;
      @include responsive(tabletLandscape) {
        background-size: 95%;
      }
    }
  }
}
