@use "../../components/scss/abstracts/" as *;
@use "../../components/scss/base/" as *;

.header {
  width: 100vw;
  // margin-top: 2rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 20rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6rem);

  @include responsive(desktopLarge) {
    padding: 2rem 20rem;
  }

  &__section {
    width: 140rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    color: #ffffffb3;
  }

  &__nav {
    &--item {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 5rem;
    }

    &--link {
      color: #ffffffb3;
      padding: 1rem;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      transition: 0.3s ease-out;

      @include responsive(desktopLarge) {
        font-size: 1.2rem;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1),
          inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.2);
        border-radius: 10px;
      }
    }
  }
}
