@use "../../components/scss/abstracts/" as *;
@use "../../components/scss/base/" as *;

.section-hero {
  // background: linear-gradient(180deg, #2400ff 0%, #fff 100%);
  // padding: 15rem 0;
  // overflow: hidden;
}

.hero {
  max-width: 140rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8rem;
  align-items: center;
  padding: 18rem 0;

  &__txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 52rem;
    gap: 4rem;
  }

  &__description {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.4;
  }

  &__btn-container {
    display: flex;
    gap: 3rem;
  }
}
