@use "../../components/scss/base/" as *;
@use "../../components/scss/abstracts/" as *;

.section-hero {
  // background: linear-gradient(180deg, #2400ff 0%, #fff 100%);
  // padding: 15rem 0;
  // overflow: hidden;
}

.hero {
  max-width: 140rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8rem;
  align-items: center;

  padding: 18rem 2rem;

  @include responsive(tabletPortrait) {
    max-width: 50rem;
  }

  @include responsive(desktopLarge) {
    max-width: 130rem;
    padding: 15rem 0;
  }

  @include responsive(tabletLandscape) {
    grid-template-columns: auto;
    max-width: 100rem;
    grid-gap: 0;
    padding-bottom: 1rem;
  }

  @include responsive(tabletPortrait) {
    justify-content: center;
    grid-gap: 5rem;
  }

  @include responsive(mobile) {
    grid-gap: 0;
  }

  &__txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 52rem;
    gap: 4rem;

    @include responsive(tabletLandscape) {
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 0 15rem;
      background: linear-gradient(180deg, #ffd7ff 0%, #feddfe 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    @include responsive(mobile) {
      padding: 0 50rem;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__description {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.4;

    @include responsive(desktopLarge) {
      font-size: 2rem;
    }
  }

  &__btn-container {
    display: flex;
    gap: 3rem;
  }

  &__mockup {
    align-items: center;
  }
}
