@use "../abstracts" as *;

.heading-primary {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 3rem;
  background: linear-gradient(180deg, #730040 0%, #301cbe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  &__mavens {
    background: linear-gradient(180deg, #ffd7ff 0%, #ffb6ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
