@use "../abstracts" as *;

.heading-primary {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.2;
  background: linear-gradient(180deg, #730040 0%, #301cbe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  @include responsive(desktopLarge) {
    font-size: 6rem;
  }

  @include responsive(tabletLandscape) {
    font-size: 5rem;
    background: linear-gradient(180deg, #ffd7ff 0%, #feddfe 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  @include responsive(mobile) {
    font-size: 3rem;
  }

  &__mavens {
    background: linear-gradient(180deg, #ffd7ff 0%, #feddfe 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.1;

  @include responsive(desktopLarge) {
    font-size: 3rem;
  }
}

.heading-tertirary {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.1;
}
