@use "../scss/abstracts/" as *;
@use "../scss/base/" as *;

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;

  @include responsive(tabletPortrait) {
    transform: scale(0.8);
    gap: 3rem;
  }
}
