@use "./components/scss/abstracts/" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include responsive(tabletLandscape) {
    font-size: 56.25%; // 1 rem = 9px = 9px/16px = 56.25%
    overflow-x: hidden;
  }

  @include responsive(tabletPortrait) {
    font-size: 50%; // 1 rem = 8px = 8px/16px = 50%
    overflow-x: hidden;
  }

  @include responsive(desktopLarge) {
    font-size: 65%; // 1 rem = 12px = 12px/16px = 75%
    overflow-x: hidden;
  }

  @include responsive(mobile) {
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
  color: #000;
}

body {
  box-sizing: border-box;
  background-color: #1f1f47;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #000;
}
